body{
    margin: 0;
    background-color: #F8F8F7;
}
.home{
    display:flex;
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
}
.fot_but a{
    text-decoration: none;
}
.left_fixed{
    position: fixed;
}
.left_home{
    width: 50%;
    padding-left: 150px;
    padding-top: 30px;
    padding-right: 70px;
    box-sizing:border-box;
}
.right_home{
    width: 50%;
    padding:30px 30px 30px 65px;
    position: relative;
    box-sizing:border-box;
}
.main_but_fot{
    background-color:transparent;
    border:none;
    text-align: center;
    padding:0px 5px;
    text-decoration: none;
}
.img_div{
    width:138px ;
    height:198px ;
    border-radius: 10px;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color1{
    background-color:#B4B7FF;
}
.color2{
    background-color: #97EAB9;
}
.color3{
    background-color: #FFD280;
    align-items:flex-end;
}
.main_but_fot_text{
    width: 138px;
    height: 36px;
    background-color:#fff;
    margin-top: 10px;
    border-radius: 10px;
    padding-top:10px;
    box-sizing: border-box;
    color: #FF868E;
    font-size: 12px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.fot_title{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.centr_text{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    margin:0;
}
.centr_title{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin: 0;
}
.home_title{
    margin-top: 85px;
}
.fot_but{
    display: flex;
}
.fot_home{
    margin-top: 60px;
}
.color_right{
    width: auto;
    height:100%; 
    background-color:#FBE0DC;
    border-radius: 20px;
    margin-left: auto;
}
.right_img{
    height: 100%;
    width: 100%;
}
.color_right_mar{ 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    display: block;
    object-fit: cover;
}

@media(max-width:1200px){
    .home{
        width:1150px;
        margin:0;
        margin-left:40px;
    }
    .left_home{
        padding:30px 0px;
    }
    
}
@media(max-width:768px){
    .centr_title{
        font-size: 38px;
    }
    .centr_text{
        font-size: 20px;
    }
    .fot_title{
        font-size: 24px;
    }
    .main_but_fot_text{
        font-size: 14px;
    }
}