.modal{
    display: flex;
}
body{
    margin: 0; 
}
.head_modal{
    padding-top: 100px;
}
.modal_overlay{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.800);
}
.text_center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-weight: 600;
}
.right_modal{
    width: 680px;
    height: 840px;
    background-color:#F8F8F7;
    border-radius: 20px;
    margin: 30px 30px 30px 0;
    text-align: center;
    position: relative;
}
.modal_title{
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 36px;
}
.modal_text{
    font-family: 'Jost', sans-serif;
    font-weight:400;
    font-size: 20px;
}
.centr_img_modal{
    width:640px;
    height: 520px;
    background-color: #FFFFFF;
    border: 2px dashed #FBE0DC;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    box-sizing:border-box;
    position:relative;
    overflow: hidden;
}
.centr_img_modal section{
    height: 100%;
    width: 100%;
}
.centr_img_modal section>div{
    height: 100%;
    width: 100%;

}
.modal_centr_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.centr_text_modal{
    position: absolute;
    top:135px;
    left:130px;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    color: #8C8C8C;
}
.span_centr_text{
    font-family: 'Jost', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:black;
}
.footer_text_modal{
    font-family: 'Jost', sans-serif;
    font-weight:400;
    font-size: 20px;
    color: #8C8C8C;
}
.closed_modal{
    border:none;
    background: #FFFFFF;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    right:20px;
    top:20px;
    cursor: pointer;
}