.gallery{
    display:flex;
}
body{
    margin: 0;
}
.main_gallery{
    width: 680px;
    height: 770px;
    background-color:#fff;
    border-radius:20px;
    padding-left:20px;
    padding-top: 20px;
    padding-right:20px;
    margin-top: 10px;
    box-sizing:border-box;
}
.head_gallery{
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
}
.head_gallery a:last-child{
    margin-left: auto;
}
.head_but_upl{
    width: 143px;
    height: 40px;
    font-family: Jost;
    font-weight: 500;
    font-size: 12px;
    background-color:#FBE0DC;
    border-radius: 10px;
    border: none;
    color:#FF868E;
    padding: 10px 30px;
    cursor: pointer;
}
.head_but_img{
    padding-right: 10px;
}
.main_list{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.centr_gallery{
    width: 640px;
    height: 156px;
    background-color:#F8F8F7;
    border-radius:20px;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    padding: 28px 20px 20px 20px;
    margin-top: 20px;
    box-sizing: border-box;
}
.all_rand_cla{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 8px 0 8px 10px;
    border:none;
    width: 290px;
    height:40px;
}
.all_stat_cla{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 8px 0 8px 10px;
    border:none;
    width: 290px;
    height:40px;
}
.all_non_cla{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 8px 0 8px 10px;
    border:none;
    width: 290px;
    height:40px;
}
.all_items_cla{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 8px 0 8px 10px;
    border:none;
    width: 240px;
    height:40px;
}
.main_rand{
    display: flex;
    flex-direction: column;
    
    outline: none;
}
.main_stat{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    outline: none;
}
.main_non{
    display: flex;
    flex-direction: column;
    outline: none;
}
.main_item{
    display: flex;
    flex-direction: column;
    outline: none;
    margin-left: 20px;
}
.refresh{
    border:none;
    background-color:#FFFFFF;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.all_lab{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color:#8C8C8C;

}

@media(max-width:768px){
    .all_rand_cla{
        font-size: 18px;
    }
    .all_stat_cla{
        font-size: 18px;
    }
    .all_non_cla{
        font-size: 18px;
    }
    .all_items_cla{
        font-size: 18px;
    }
}

@media(max-width:576px){
    
}